# Laboratory 2 of Data Mining
### Student:
### César Diego Ruelas Flores

#### a. Create a virtual environment in Anaconda named 'pycaret-clf' with Python version 3.11.9. Then, install the PyCaret library and load the 'diabetes' data.

In [5]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\azshet\appdata\roaming\python\python311\site-packages (from pandas) (1.26.4)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install numpy==1.26.4

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy==1.26.4 in c:\users\azshet\appdata\roaming\python\python311\site-packages (1.26.4)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
data = pd.read_csv('diabetes.csv')

In [2]:
print(data.shape)

(768, 9)

In [3]:
print(data.columns)

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [4]:
print(data.head())

   Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0            6      148             72             35        0  33.6
1            1       85             66             29        0  26.6
2            8      183             64              0        0  23.3
3            1       89             66             23       94  28.1
4            0      137             40             35      168  43.1

   DiabetesPedigreeFunction  Age  Outcome
0                     0.627   50        1
1                     0.351   31        0
2                     0.672   32        1
3                     0.167   21        0
4                     2.288   33        1

sin pandas

In [2]:
# load sample dataset
from pycaret.datasets import get_data
data = get_data('diabetes')

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [3]:
from pycaret.classification import *
# tomando el entorno
clf_setup = setup(data, target='Outcome', session_id=123, normalize=True)

In [ ]:
# pip install --upgrade threadpoolctl

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: threadpoolctl in c:\programdata\anaconda3\lib\site-packages (2.2.0)
Collecting threadpoolctl
  Obtaining dependency information for threadpoolctl from https://files.pythonhosted.org/packages/32/d5/f9a850d79b0851d1d4ef6456097579a9005b31fea68726a4ae5f2d82ddd9/threadpoolctl-3.6.0-py3-none-any.whl.metadata
  Downloading threadpoolctl-3.6.0-py3-none-any.whl.metadata (13 kB)
Downloading threadpoolctl-3.6.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl
Successfully installed threadpoolctl-3.6.0
Note: you may need to restart the kernel to use updated packages.

#### b. Create a report for a classification model using "Outcome" as the target variable, comparing all the classification models included in PyCaret and evaluating them using their performance metrics. Additionally, make predictions for the best model and tune its hyperparameters.

Comparando los modelos de clasificación

In [6]:
best_model = compare_models()

# Mostrar el modelo generado
print("Mejor modelo:", best_model)

Mejor modelo: LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=1000,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=123, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [7]:
# evaluamos el el mejor modelo encontrado
evaluate_model(best_model)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

ahora realizamos predicciones con el mejor modelo

In [8]:
predictions = predict_model(best_model)

ajustamos los hiperparámetros de lmejor modelo

In [9]:
tuned_model = tune_model(best_model, optimize='Accuracy')

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

Ajuste de hiperparámetros

In [15]:
best_model_tuned = tune_model(best_model)
evaluate_model(best_model_tuned)

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

#### c. Create an MLflow server from the Anaconda console, open it from a browser, and trace the path where the models will be saved. Also, recreate the classification models by naming the experiment 'diabetes_model,' adjust the hyperparameters of the best model, evaluate it, finalize it, and save everything in a folder called 'clf_models.'

In [16]:
# Configurar el experimento con MLflow
setup(data=data, target='Outcome', experiment_name='modelo_diabetes', log_mlflow=True)

TypeError: setup() got an unexpected keyword argument 'log_mlflow'

In [ ]:
# Comparar modelos nuevamente (opcional)
best_model_mlflow = compare_models()

In [13]:
# Ajustar hiperparámetros del mejor modelo
tuned_model_mlflow = tune_model(best_model_mlflow)

NameError: name 'best_model_mlflow' is not defined

In [14]:
# Finalizar y guardar el modelo
final_model = finalize_model(tuned_model_mlflow)
save_model(final_model, 'modelos_clf/diabetes_model')

NameError: name 'tuned_model_mlflow' is not defined